<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aroraemc.sahil.getplaced">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpcomingCompanies" />
        <activity android:name=".EMC" />
        <activity android:name=".Ericson" />
        <activity android:name=".EMCKnowHow" />
        <activity android:name=".EricsonKnowHow" />
        <activity android:name=".EMCPrerequisites" />
        <activity android:name=".EricsonPrerequisites" />
        <activity android:name=".EMCAluminiReviews" />
        <activity android:name=".EricsonAluminiReviews" />
        <activity android:name=".Calender" />
        <activity android:name=".monthView" />
        <activity android:name=".Test" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ogin" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>